{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width>, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href={% static 'styles/book.css' %} />
    <link rel="stylesheet" href={% static 'styles/checkbox.css' %} />


</head>

<body>

    <section>
        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Заголовок" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Подзаголовок" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Описание" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="number" placeholder="Цена" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Жанр" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="text" placeholder="Автор" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="number" placeholder="Год выхода книги" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input class="create_input" type="number" placeholder="Добавление книги на сайт" 
                name="book_text">
                <button class="create_button">Добавить</button>
            </form>

        </div>

        <div class="book_container">

            {% for book in book_list %}

            <div class='book_item'>
            
                    <h4>{{ book.text }}</h4>
                
            </div>
            {% endfor %}
        </div>

    </section>
</body>

</html>